<!DOCTYPE html>
<html lang="en">
<head>
   <title>Banking Portal</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
   <style type="text/css">
         .success {
         background-color: #e6fff9;
         }
         .failure {
         background-color: #ffe6e6;
         }
      </style>
</head>
<body>
<div class="container">
   <h2>Banking Service</h2>
   <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item">
         <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Home</a>
      </li>
      <li class="nav-item">
         <a class="nav-link" id="pills-logout-tab" data-toggle="pill" href="#pills-logout" role="tab" aria-controls="pills-logout" aria-selected="true">Logout</a>
      </li>
   </ul>
   <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
         <div class="container" id="profile">
            <h3>User Profile :</h3>
            <h5>Below are your details :</h5>
            <div class="form-group">
               <label for="profuserid">User ID:</label>
               <input type="text" class="form-control" id="profuserid" value="" name="profuserid" disabled>
            </div>
            <div class="form-group">
               <label for="profusername">User Name:</label>
               <input type="text" class="form-control" id="profusername" value="" name="profusername" disabled>
            </div>
            <div class="form-group">
               <label for="profusertype">User Type:</label>
               <input type="text" class="form-control" id="profusertype" value="" name="profusertype" disabled>
            </div>
            <div class="form-group">
               <label for="profuseremail">Email:</label>
               <input type="text" class="form-control" id="profuseremail" value="" name="profuseremail" disabled>
            </div>
            <div class="form-group">
               <label for="profuserssn">SSN:</label>
               <input type="text" class="form-control" id="profuserssn" value="" name="profuserssn" disabled>
            </div>
            <h3>You can upload your file here :</h3>
            <form>
               <div class="form-group">
                  <label for="filedb">Upload to database :</label>
                  <input type="file" class="form-control-file" id="filedb">
               </div>
               <button id="uploaddb" formmethod="post" class="btn btn-primary" type="button">Upload to DB</button>
            </form>
            <form>
               <div class="form-group">
                  <label for="filefs">Upload to file system :</label>
                  <input type="file" class="form-control-file" id="filefs">
               </div>
               <button id="uploadfs" formmethod="post" class="btn btn-primary" type="button">Upload to FS</button>
            </form>
         </div>
      </div>
      <div class="tab-pane fade" id="pills-logout" role="tabpanel" aria-labelledby="pills-logout-tab">
         <div class="container failure" id="confirmLogout">
            <h3>Are you sure you want to logout ?</h3>
            <button id="yesLogout" class="btn btn-success" type="button">Yes</button>
            <button id="nologout" class="btn btn-danger" type="button">No</button>
         </div>
      </div>
   </div>
</div>
<script type="text/javascript">
         $( document ).ready(function() {

             $(function(){
                  const userdatafetch = {
                     userName:sessionStorage.getItem("username"),
                  };
                  const headers = new Headers({
                      'Content-Type': 'application/json',
                      'Accept': 'application/json',
                      'Authorization': 'Bearer '+sessionStorage.getItem("token")
                  });
                  console.log(sessionStorage.getItem("token"));

                  const request = new Request('http://localhost:8099/fetch', {
                      method: 'POST',
                      headers: headers,
                      redirect: 'follow',
                      mode: 'cors',
                      body: JSON.stringify(userdatafetch)
                  });


                  fetch(request)
                      .then(res => res.json())
                      .then(json => profileDisplayWorker(json))
                      .catch(err => console.error('Error:', err));

                  profileDisplayWorker= function(data){
                        $("#profuserid").val(data.userId);
                        $("#profusername").val(data.userName);
                        $("#profusertype").val(data.userType);
                        $("#profuseremail").val(data.email);
                        $("#profuserssn").val(data.ssn);
                  }
                  });


                  $('#uploaddb').click(function() {
                  var input = document.querySelector('input[type="file"]')

                  var data = new FormData()
                  data.append('file', input.files[0])


                  const headers = new Headers({

                    'Authorization': 'Bearer '+sessionStorage.getItem("token")
                  });

                  fetch('/upload/db', {
                    method: 'POST',
                    headers: headers,
                    body: data
                  }).then(res => uploadSuccessful(res))
                  .catch(err => console.error('Error:', err));

                  uploadSuccessful = function(respo){
                     console.log(respo);
                     if(respo.ok){
                        alert("File upload successful!");
                        $('#filedb').val('');
                     }else{
                        alert("File upload not successful. Please try again later!");
                        $('#filedb').val('');
                     }
                  }

          });


          $('#uploadfs').click(function() {

                  var input = document.querySelectorAll('input[type="file"]')[1]
                  console.log(input)
                  var data = new FormData()
                  data.append('file', input.files[0])


                  const headers = new Headers({

                    'Authorization': 'Bearer '+sessionStorage.getItem("token")
                  });

                  fetch('/upload', {
                    method: 'POST',
                    headers: headers,
                    body: data
                  }).then(res => uploadSuccessful(res))
                  .catch(err => console.error('Error:', err));

                  uploadSuccessful = function(respo){
                     console.log(respo);
                     if(respo.ok){
                        alert("File upload successful!");
                        $('#filefs').val('');
                     }else{
                        alert("File upload not successful. Please try again later!");
                        $('#filefs').val('');
                     }
                  }

          });

                  $('#yesLogout').click(function() {
                  sessionStorage.clear();
                  window.location.replace("http://localhost:8099/home");

          });
                  $('#nologout').click(function() {
                  window.location.replace("http://localhost:8099/data");

          });
});
</script>
</body>
</html>